* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list-inline {

  li {
    display: inline-block;
  }
}

li.active {
  background-color: $lightBlueColor;
}

.container {
  width: 75%;
  height: 100%;
  margin: auto;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
