* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.list-inline {
  list-style: none;

  li {
    display: inline-block;
  }
}

li.active {
  background-color: $lightBlueColor;
}
