header {
  text-align: center;

  img {
    margin: 50px 0;
  }

  #nav-list {
    margin: 0;

    li {
      margin: 0 10px;

      &:hover {
        background-color: $lightBlueColor;
      }

      a {
        display: inline-block;
        padding: 15px 10px;
        color: $blackColor;
        font-size: 30px;
        font-weight: 600;

        &:hover {
          text-decoration: none;
        }
      }
    }

  }

}
.hamburger i {
  padding: 15px;
  font-size: 40px;
  color: $blackColor;
}
