header {
  text-align: center;

  img {
    margin: 50px 0;
  }

  #nav-list > li {
    margin: 0 10px;

    &:hover {
      background-color: $lightBlueColor;
    }

    a {
      display: inline-block;
      padding: 15px 10px;
      color: $blackColor;
      font-size: 30px;
      font-weight: 600;
    }
  }
}
