#product {
  position: relative;
  padding: 20px 0;
  background-color: $productMainColor;
  color: $blueColor;
  text-align: center;

  h2 {
    font-weight: 600;
  }
  img {
    width: 80%;
  }
  p {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
  }
  .prev {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translatey(-50%);
    font-size: 50px;
  }
  .next {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translatey(-50%);
    font-size: 50px;
  }
}
