#product {

  padding: 20px 0;
  background-color: $productMainColor;
  color: $blueColor;
  text-align: center;

  h2 {
    font-weight: 600;
  }
  img {
    width: 80%;
  }
  p {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
  }
}
