main {
  padding: 50px 0;
  @include bgImageSet(fondo-pag-speciali, jpg, no-repeat, cover, center);

  section {
    padding: 10px 0;

    h2 {
      margin: 10px 0;
      font-size: 40px;
      color: $h2Color;
      font-weight: 600;
      text-transform: uppercase;
    }

  }
}

.cards {
  @include flexSet(row, flex-start, stretch);

  .card-container {
    position: relative;
    width: calc(100% / 3);
    height: $cardsHeight;
    padding: $cardsPadding;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .layover {
      position: absolute;
      top: $cardsPadding;
      left: $cardsPadding;
      width: calc(100% - #{$cardsPadding * 2});
      height: calc(100% - #{$cardsPadding * 2});
      background-color: rgba($lightBlueColor, 0.7);
      opacity: 0;
      transition: all 0.3s linear;

      &:hover {
        opacity: 1;
      }

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: $cardsHeight;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}
