@media screen and (max-width: 1199px) {

  main section .cards .card-container {
    width: calc(100% / 2);
  }

  footer .container .left {
    width: 100%;
  }

  footer .container .right {
    width: 100%;
  }

  footer .container .right .list {
    width: 100%;
  }
  
  footer .container .right .list:nth-child(2) {
    order: 3;
  }
}

@media screen and (max-width: 767px) {

  main section .cards .card-container {
    width: 100%;
  }


}
